pytest
expecttest
fsspec
s3fs
iopath == 0.1.9
numpy
rarfile
# Protobuf 4.0 is binary incompatible with what C++ TF uses.
# See: https://github.com/tensorflow/tensorflow/blob/8dcaf6b98a6a49c85eb470140ba8506e71a3b5af/tensorflow/tools/pip_package/setup.py#L88-L94
# Protobuf 3.20.2 is also broken on MacOS Python 3.10
# See: https://github.com/protocolbuffers/protobuf/issues/10571
protobuf >= 3.9.2, < 3.20
datasets
graphviz
