[flake8]
max-line-length = 120
ignore = E203,E402,E501,F821,W503,W504,
per-file-ignores =
    __init__.py: F401, F403, F405
exclude =
    ./.git,
    ./third_party,
    *.pyi,
    ./examples/text/utils.py, # Copy from TorchText
