# image folder
benchmark/image_training/images_dataset_ds/train/*/
benchmark/image_training/images_dataset_ds/val/*/
benchmark/image_training/images_dataset_tar

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# macOS dir files
.DS_Store

# Compiled python
*.pyc
*.pyd

images_dataset_ds
images_dataset_tar
benchmark/image_training/images_dataset_ds
benchmark/image_training/images_dataset_tar
