build/*
dist/*
torchdata.egg-info/*

torchdata/version.py
torchdata/datapipes/iter/__init__.pyi

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~
.vscode
.idea

# macOS dir files
.DS_Store

# Compiled python
*.pyc
*.pyd

# setup script artifacts for Velox
f4d-deps

# sphinx documentation
docs/build
docs/source/generated
# pytorch-sphinx-theme gets installed here
docs/src
