[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "third_party/aws-sdk-cpp"]
	path = third_party/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
