name: Run DataPipes Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python environment
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          set -eux
          pip3 install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html --user
          pip3 install requests pytest expecttest --user
      - name: Run DataPipes tests with pytest
        run: pytest test
