name: Run DataPipes Tests
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    branches:
      - main
      # For PR created by ghstack
      - gh/*/*/base

jobs:
  test:
    if: ${{ github.repository_owner == 'pytorch' && (github.event.action != 'labeled' || startsWith(github.event.label.name, 'ciflow')) }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.6
          - 3.7
          - 3.9
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Check out source repository
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          set -eux
          pip3 install --pre torch torchvision torchaudio -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html --user
          pip3 install expecttest requests --user  # TODO: Install from requirements except torch
      - name: Install dependencies for test
        run: |
          set -eux
          pip3 install scipy Pillow --user
          pip3 install -U iopath --user
          pip3 install pytest --user
      - name: Build TorchData
        run: |
          set -eux
          python setup.py develop --user
      - name: Run DataPipes tests with pytest
        if: ${{ ! contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test --ignore=test/test_period.py
      - name: Run DataPipes tests with pytest (including slow tests)
        if: ${{ contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: PYTORCH_TEST_WITH_SLOW=1 pytest --no-header -v test --ignore=test/test_period.py
      - name: Run DataPipes period tests with pytest
        if: ${{ contains(github.event.pull_request.labels.*.name, 'ciflow/period') }}
        run: PYTORCH_TEST_WITH_SLOW=1 pytest --no-header -v test/test_period.py

  test-torchvision:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.6
          - 3.7
          - 3.9
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install torch and torchvision from nightlies
        run: pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html

      - name: Check out torchdata repository
        uses: actions/checkout@v2

      - name: Install torchdata
        run: python setup.py install

      - name: Install test utilities
        run: pip install pytest pytest-mock

      - name: Check out torchvision repository
        uses: actions/checkout@v2
        with:
          repository: pytorch/vision
          path: vision

      - name: Run torchvision datasets tests
        run: pytest --no-header -v vision/test/test_prototype_datasets.py
