name: Run Domain Tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      # For PR created by ghstack
      - gh/*/*/base

jobs:
  torchaudio:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
          # - windows-latest
        python-version:
          - 3.9
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install torch and torchaudio from nightlies
        run: |
          pip install networkx
          pip install --pre torch torchaudio --index-url https://download.pytorch.org/whl/nightly/cpu

      - name: Check out torchdata repository
        uses: actions/checkout@v3

      - name: Install torchdata
        run: |
          pip install -r requirements.txt
          python setup.py install

      - name: Install test requirements
        run: pip install dill expecttest numpy pytest

      - name: Run torchaudio example datasets tests
        if: ${{ ! contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_audio_examples.py
      - name: Run torchaudio example datasets (including slow tests)
        if: ${{ contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_audio_examples.py
        env:
          PYTORCH_TEST_WITH_SLOW: 1

  torcharrow:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
          # - windows-latest
        python-version:
          - 3.9
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install torch and torcharrow from nightlies
        run: pip install --pre torch torcharrow --index-url https://download.pytorch.org/whl/nightly/cpu

      - name: Check out torchdata repository
        uses: actions/checkout@v3

      - name: Install torchdata
        run: |
          pip install -r requirements.txt
          python setup.py install

      - name: Install test requirements
        run: pip install dill expecttest numpy pytest

      - name: Run torcharrow example datasets tests
        if: ${{ ! contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_dataframe.py

      - name: Run torcharrow example datasets (including slow tests)
        if: ${{ contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_dataframe.py
        env:
          PYTORCH_TEST_WITH_SLOW: 1
