name: Run Domain Tests
on:
  push:
    branches:
      - main
      - release/*
  pull_request:
    branches:
      - main
      # For PR created by ghstack
      - gh/*/*/base
      - release/*

jobs:
  torchvision:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python-version:
          - 3.7
          - 3.8
          - 3.9
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install torch and torchvision from nightlies
        run: pip install --pre torch torchvision -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html

      - name: Check out torchdata repository
        uses: actions/checkout@v2

      - name: Install torchdata
        run: |
          pip install -r requirements.txt
          python setup.py install

      - name: Install test requirements
        run: pip install pytest pytest-mock scipy iopath pycocotools h5py

      - name: Extract torchvision ref
        id: torchvision
        run: echo "::set-output name=ref::$(python -c 'import torchvision; print(torchvision.version.git_version)')"

      - name: Check out torchvision repository
        uses: actions/checkout@v2
        with:
          repository: pytorch/vision
          ref: ${{ steps.torchvision.outputs.ref }}
          path: vision

      - name: Run torchvision builtin datasets tests
        run: pytest --no-header -v vision/test/test_prototype_builtin_datasets.py

  torchtext:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
        python-version:
          - 3.7
          - 3.8
          - 3.9
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install torch and torchtext from nightlies
        run: pip install --pre torch torchtext -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html

      - name: Check out torchdata repository
        uses: actions/checkout@v2

      - name: Install torchdata
        run: |
          pip install -r requirements.txt
          python setup.py install

      - name: Install test requirements
        run: pip install dill expecttest pytest iopath

      - name: Run torchtext example datasets tests
        if: ${{ ! contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_text_examples.py
      - name: Run torchtext example datasets (including slow tests)
        if: ${{ contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_text_examples.py
        env:
          PYTORCH_TEST_WITH_SLOW: 1

  torchaudio:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
          # - windows-latest
        python-version:
          # - 3.7
          # - 3.8
          - 3.9
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install torch and torchaudio from nightlies
        run: pip install --pre torch torchaudio -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html

      - name: Check out torchdata repository
        uses: actions/checkout@v2

      - name: Install torchdata
        run: |
          pip install -r requirements.txt
          python setup.py install

      - name: Install test requirements
        run: pip install dill expecttest numpy pytest

      - name: Run torchaudio example datasets tests
        if: ${{ ! contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_audio_examples.py
      - name: Run torchaudio example datasets (including slow tests)
        if: ${{ contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_audio_examples.py
        env:
          PYTORCH_TEST_WITH_SLOW: 1

  torcharrow:
    if: ${{ github.repository_owner == 'pytorch' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
          # - windows-latest
        python-version:
          - 3.7
          - 3.8
          - 3.9
    steps:
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install torch and torcharrow from nightlies
        run: pip install --pre torch torcharrow -f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html

      - name: Check out torchdata repository
        uses: actions/checkout@v2

      - name: Install torchdata
        run: |
          pip install -r requirements.txt
          python setup.py install

      - name: Install test requirements
        run: pip install dill expecttest numpy

      - name: Run torcharrow example datasets tests
        if: ${{ ! contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_dataframe.py

      - name: Run torcharrow example datasets (including slow tests)
        if: ${{ contains(github.event.pull_request.labels.*.name, 'ciflow/slow') }}
        run: pytest --no-header -v test/test_dataframe.py
        env:
          PYTORCH_TEST_WITH_SLOW: 1
