name: Push Nightly Release

on:
  workflow_dispatch:
  schedule:
    - cron: 00 12 * * *

jobs:
  build_test_upload:
    uses: ./.github/workflows/_build_test_upload.yml
    with:
      branch: "main"
      pre_dev_release: true
      pytorch_version: ""
    secrets:
      PYTORCH_BINARY_AWS_ACCESS_KEY_ID: ${{ secrets.PYTORCH_BINARY_AWS_ACCESS_KEY_ID }}
      PYTORCH_BINARY_AWS_SECRET_ACCESS_KEY: ${{ secrets.PYTORCH_BINARY_AWS_SECRET_ACCESS_KEY }}
      CONDA_NIGHTLY_PYTORCHBOT_TOKEN: ${{ secrets.CONDA_NIGHTLY_PYTORCHBOT_TOKEN }}
