name: Push Nightly Release

on:
  # [ Note: Manually Trigger the Workflow ]
  # 1. Go to Actions under pytorch/data repo
  # 2. In the left sidebar, click the workflow you want to run
  # 3. Above the list of workflow runs, select Run workflow
  # 4. Use the Branch dropdown to select the release/* branch
  # 5. Click Run workflow
  workflow_dispatch:
  # TODO: Automatically trigger nightly release
  # schedule:
  #   - cron: 30 23 * * *

jobs:
  build_test_upload:
    uses: ./.github/workflows/_build_test_upload.yml
    with:
      branch: ""
      pip_path: https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
      pre_dev_release: true
