name: Push Test Release

on:
  # [ Note: Manually Trigger the Workflow ]
  # 1. Go to Actions under pytorch/data repo
  # 2. In the left sidebar, click the workflow you want to run
  # 3. Above the list of workflow runs, select Run workflow
  # 4. Use the Branch dropdown to select the release/* branch
  # 5. Click Run workflow
  workflow_dispatch:
  # Automatically trigger test/official release
  # Requred Feature of GHA: Run schedule on specific branch
  # Otherwise, all changes for release need to be landed into main branch
  # See: https://github.community/t/scheduled-builds-of-non-default-branch/16306
  # schedule:
  #   - cron: 30 23 * * *

# [ Note: Workflow/Job Level ENV ]
# Workflow/Job level env doesn't work even though document indicates this feature
# https://github.com/actions/runner/issues/480
# https://github.community/t/how-to-set-and-access-a-workflow-variable/17335
# env:
#   RELEASE_BRANCH: ""

jobs:
  build_test_upload:
    if: github.repository == 'pytorch/data' && startsWith(github.ref_name, 'release/')
    uses: ./.github/workflows/_build_test_upload.yml
    with:
      branch: "release/0.7"
      pre_dev_release: true
      pytorch_version: "2.1.0"
    secrets:
      PYTORCH_BINARY_AWS_ACCESS_KEY_ID: ${{ secrets.PYTORCH_BINARY_AWS_ACCESS_KEY_ID }}
      PYTORCH_BINARY_AWS_SECRET_ACCESS_KEY: ${{ secrets.PYTORCH_BINARY_AWS_SECRET_ACCESS_KEY }}
      CONDA_TEST_PYTORCHBOT_TOKEN: ${{ secrets.CONDA_TEST_PYTORCHBOT_TOKEN }}
